{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}
Please make your choice now (please slide the slider):
{{ endblock }}
{% block content %}
<style>
<br>

    .range {

        width: 500px;
        height: 30px;
        appearance: none;
        /* 背景颜色 */
        background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, purple);
        outline: none;
        border-radius: 30px;
        border: 2px solid #000;
        /* 阴影 */
        /* box-shadow: 0 0 0 2px #151515, inset 0 0 5px #000; */
        z-index: 1;
        overflow: hidden;
    }

    .range::-webkit-slider-thumb {
        appearance: none;
        width: 30px;
        height: 30px;
        background: rgb(255, 255, 255);
        cursor: pointer;
        border: 10px solid rgb(134, 20, 20);
        border-radius: 50%;
        /* 第一个参数为负数 可以改变方向 */
        box-shadow: 415px 0 0 400px rgb(255, 0, 0);


    }

    .circle {
        fill: none;
        stroke-width: 5;
        /* 进度条填充一整个环形 */
        stroke-dasharray: 502;
        /* dashoffset 为偏移量 正数为向逆时针偏移 负数为向顺时针位置偏移
				初始设为502时，进度条展示出的长度为0
			 */
        stroke-dashoffset: 200;
        stroke-linecap: round;
        /* 开口向上 */
        transform: rotate(-90deg);
        transform-origin: center;
        transform-box: fill-box;
    }
</style>



<body>



</body>

<p>
<!--    <img  />-->
    <input id="range8" style="width: 45%" type="range" min="0" name="volume"  max="1"
        step="0.001" oninput="change()" onchange="change()"> Points need to pay：<span id="value1"></span>
    <p>

<p>

    <svg width="300" height="300">

        <defs>
            <linearGradient id="MyGradient">
                <stop offset="0%" stop-color="red" />
                <stop offset="15%" stop-color="orange" />
                <stop offset="30%" stop-color="yellow" />
                <stop offset="45%" stop-color="green" />
                <stop offset="60%" stop-color="cyan" />
                <stop offset="75%" stop-color="blue" />
                <stop offset="100%" stop-color="purple" />
                <!-- <stop offset="0%" style="stop-color:#FCDF0A" />
                <stop offset="100%" style="stop-color:#FF4646" /> -->
            </linearGradient>
        </defs>
        <g id="gImg" >
            <image x="82" y="75" width="40" height="40"  href="{%static 'WechatIMG2521.png' %}"></image>
        </g>
        <circle id="abc" class="circle" stroke="url(#MyGradient)" cx="100" cy="100" r="80">

        </circle>

    </svg>

    <hr>





</p>

<p>
    Volume：<span id="volume"></span> / 1
</p>

<script type='text/javascript'>
    function change() {

        var value1 = document.getElementById('range8').value;
        myAud = document.getElementById("audio1");
        myAud.volume = 0.99 * (value1) * (value1) - 1.98 * (value1) +1;
        document.getElementById('value1').innerHTML = ((Math.round((value1 * 10 * 1000) / 10) / 100)*100).toFixed(1);
        document.getElementById('volume').innerHTML = myAud.volume.toFixed(3);


          // 控制圆形彩虹滑块的变动
          var circleProgressBar = document.getElementById('abc')
        circleProgressBar.style.strokeDashoffset =  (502 / 100) * (100-100 * myAud.volume)


         // 控制彩虹滑块的变动
        // document.getElementById('range9').value=value1;
        // var test = document.getElementById("testCircle");
        // test.setAttribute("r", value1);
    }

    function submit2(){
      let volume= document.getElementById('value1').innerHTML;

      try {
          volume=Number(volume)
          liveSend(volume)






      }catch (e) {
          alert("付款异常")
      }



   document.getElementById("next").style.display=""


    }



</script>



<p>
    <audio type="hide" id="audio1" src="{{ static 'noise1.mp3' }}" id="myVideo"   autoplay="true" ></audio>

</p>


<button type="button" onclick="submit2()">
   Pay (You cannot change your answer after clicking this button)
</button>

<button id="next" class="otree-btn-next btn btn-primary" style="display: none" >Next</button>


{% endblock %}